{% extends 'base-site.html.twig' %}
{% block content %}
<div id="curriculum" class="conteudo container">
	<h3 >Curriculum Vitae</h3>
			
	
        <div class="row curriculum">
        	{% for key, item in content %}
        		<hr>
                <div class="col-md-12 item">

                    <h4><a href="{{ path('cv', {'id': item.id} ) }}">{{ item.name|e }}</a></h4>
                	<p style="font-size: 12px">
                		{% if(item.datestart|date("Y")) != item.dateend|date("Y")  %}
                        {{ item.datestart|date("M-Y") }} / {{ item.dateend|date("M-Y") }}
                		{% else %}
                        {{ item.datestart|date("M") }} - {{ item.dateend|date("M Y") }}
                    {% endif %}
                    </p>
                    <p class="job"><b>{{ item.job }}</b></p>
                    <div class="techs">
                    {% for k,t in item.technologies.awsome %}
                    	<i class="fa-solid {{ t }}"></i> <span>{{ item.technologies.term[k] }}</span> 
                    	|
                    {% endfor %}
                    </div>
                    <div style="clear:both"></div>
                </div>
            {% endfor %}
		
	</div>
       
    		
</div>
{% endblock %}
